.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 40vw;
    min-width: 400px;
    min-height: 400px;
    background-color:#F5F5F5 ;
    border-radius: 10px;
}

.roll-dice{
    height: 50px;
    width: 100px;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 6px;
    background-color: #5035FF;
    font-family: 'Karla', sans-serif;
}

@media only screen and (max-width: 700px) {
    .main{
        min-width: 100px;
        min-height: 100px;
        max-width: 400px;
        max-height: 400px;
        width: 90vw;
        height: 90vw;
    }
}