.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 40vw;
    min-width: 400px;
    min-height: 400px;
    background-color:#F5F5F5 ;
    border-radius: 10px;
    -webkit-tap-highlight-color: transparent;
}

.title {
    margin: 0;
    color: #0B2434;
    font-size: 40px;
    margin-top: auto;
}

.instructions {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    margin-top: 10px;
    margin-bottom: auto;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

.roll-dice{
    width: 120px;
    height: 50px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 6px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #5035FF;
    font-family: 'Karla', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

.roll-dice:focus {
    outline: none;
}

.roll-dice:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}



@media only screen and (max-width: 700px) {
    .main{
        min-width: 100px;
        min-height: 100px;
        max-width: 400px;
        max-height: 500px;
        width: 90vw;
        height: 110vw;
    }

    .instructions {
        transition: 0.5s;
        font-family: 'Inter', sans-serif;
        font-size: 15px;
        font-weight: 400;
        margin: 0;
        margin-top: 10px;
        margin-bottom: auto;
        text-align: center;
        padding-left: 25px;
        padding-right: 25px;
    }
}