.main{
    width: 40vw;
    height: 40vw;
    min-width: 400px;
    min-height: 400px;
    background-color:#F5F5F5 ;
    border-radius: 10px;
}

@media only screen and (max-width: 900px) {
    .main{
        min-width: 100px;
        min-height: 100px;
        max-width: 400px;
        max-height: 400px;
        width: 90vw;
        height: 90vw;
    }
}